In [1]:
import pandas as pd

# A

In [2]:
df= pd.read_csv('ML_assignment02_dataset_2021.csv')

In [3]:
def del_duplicate(data):
    data = data.drop_duplicates()
    data.to_csv('del_duplicate', index= False)
    return data

# B

In [4]:
#df= pd.read_csv('ML_assignment02_dataset_2021.csv')
#df.head()

In [5]:
def fill_values(data):
    result = data.copy()
    fruits = set(result["Fruit (class)"].tolist())
    for clm in result:
        if result[clm].dtype in ["int64", "float64"]:
            for fruit in fruits:
                result.loc[(result[clm] == 0) & (result["Fruit (class)"] == fruit), clm] = round(result.loc[(result["Fruit (class)"] == fruit) & (result[clm] > 0), clm].mean(), 3)
    result.to_csv('fill_values.csv', index = False)
    return result

# C

In [17]:
#df= pd.read_csv('ML_assignment02_dataset_2021.csv')
#df.head()

In [18]:
def transform_nominal(data):
    ans=pd.get_dummies(data, columns=['Colour'])
    ans=ans.rename(columns={'Colour_Green':'Green','Colour_Red':'Red','Colour_Yellow':'Yellow'})
    ans.to_csv('transform_nominal.csv')
    return ans

# D

In [19]:
#df= pd.read_csv('ML_assignment02_dataset_2021.csv')
#df.head()

In [20]:
def normalize_minmax(data):
    result = data.copy()
    for clm in result:
        if result[clm].dtype in ["int64", "float64"]:
            maxi = data[clm].max()
            mini = data[clm].min()
            result[clm] = round((data[clm] - mini) / (maxi - mini), 3)
    result.to_csv('normalize_minmax.csv', index = False)
    return result

In [34]:
del_= del_duplicate(df)
fill_= fill_values(df)
transform= transform_nominal(df)
normal= normalize_minmax(df)

    Colour  Radius (cm)  Weight (grams) Fruit (class)
0    Green          4.3             122          Pear
1    Green          4.6             152          Pear
2    Green          3.1              85         Apple
3    Green          3.6             173          Pear
4    Green          2.5              65         Lemon
5    Green          2.5              70         Apple
6    Green          2.7              73         Apple
7    Green          4.5             110          Pear
8    Green          2.5              86         Apple
9    Green          2.4              68         Lemon
10   Green          4.2             126          Pear
11     Red          3.7             101         Apple
12     Red          3.7             100         Apple
13     Red          3.4              80         Apple
14  Yellow          3.2              79         Apple
15  Yellow          3.1              69         Lemon
16  Yellow          2.1              64         Apple
17  Yellow          2.6              58         Lemon
18  Yellow          2.1              40         Lemon
19  Yellow          2.3              60         Lemon
20  Yellow          4.2             105          Pear
22  Yellow          3.2              64         Lemon
23  Yellow          2.9              53         Lemon
24  Yellow          4.1             135          Pear
25  Yellow          5.2             142          Pear
27  Yellow          0.0             137          Pear
28  Yellow          3.0              98         Apple
29  Yellow          2.4               0         Lemon
30  Yellow          4.1              56         Lemon
31  Yellow          4.1              80         Apple
32  Yellow          5.2             141          Pear
33  Yellow          0.0             135          Pear
34   Green          2.5               0         Apple

In [33]:
del_

  Colour  Radius (cm)  Weight (grams) Fruit (class)
0  Green          4.3             122          Pear
1  Green          4.6             152          Pear
2  Green          3.1              85         Apple
3  Green          3.6             173          Pear
4  Green          2.5              65         Lemon