In [2]:
import numpy as np

# Mean

In [3]:
x=np.array([81,6,30,48,48,3,31,4,26,28,14,1])

In [4]:
np.mean(x)

26.666666666666668

# Median

In [5]:
x=np.array([23,1,33,23,48,53,30,24,39,1])

In [6]:
np.median(x)

27.0

# Mode

In [7]:
 x=np.array([120,123,130,48,248,137,137,94,126,98,64,137])

# Variance

In [8]:
x=np.array([12,13,30,48,47,73,31,94,26,18,24,20])

In [9]:
np.var(x)

582.2222222222222

# Standard Deviation

In [10]:
x=[22,31,21,4,17,17,31,34,21,12.5,24.7,21]
np.std(x)

8.038812101299543

In [11]:
import pandas as pd
import numpy as np

In [12]:
df= pd.read_csv('/Users/niravsatani/Documents/Academic/Winter sem 21/Machine Learning and Data Mining/data.csv')
df.head()

   y_original  y_predicted
0    3.888889     5.717660
1    4.555556     6.365723
2    5.222222     7.013786
3    5.888889     7.661848
4    6.555556     8.309911

In [13]:
import numpy as np
arr=np.array(df['y_original'])
df['sqrt(y)']= np.sqrt(arr)
df.head()

   y_original  y_predicted   sqrt(y)
0    3.888889     5.717660  1.972027
1    4.555556     6.365723  2.134375
2    5.222222     7.013786  2.285218
3    5.888889     7.661848  2.426703
4    6.555556     8.309911  2.560382

# Visualization

In [14]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [15]:
df=pd.read_csv('/Users/niravsatani/Documents/Academic/Winter sem 21/Machine Learning and Data Mining/visualization.csv')
df.head()

                Name     NOC           Discipline
0    AALERUD Katrine  Norway         Cycling Road
1        ABAD Nestor   Spain  Artistic Gymnastics
2  ABAGNALE Giovanni   Italy               Rowing
3     ABALDE Alberto   Spain           Basketball
4      ABALDE Tamara   Spain           Basketball

In [1]:
sns.countplot(x='NOC', data= df)

NameError: name 'sns' is not defined

In [16]:
df.shape

(11085, 3)

In [17]:
df.drop(columns=['Name','Discipline'], axis=1, inplace=True)
df.head()

      NOC
0  Norway
1   Spain
2   Italy
3   Spain
4   Spain

In [19]:
country = df.groupby("NOC").count()
#sns.countplot(x='NOC', data= country)
country.head()

Empty DataFrame
Columns: []
Index: [Afghanistan, Albania, Algeria, American Samoa, Andorra]

In [21]:
df.groupby(['NOC']).size()

NOC
Afghanistan                 5
Albania                     8
Algeria                    41
American Samoa              5
Andorra                     2
                           ..
Virgin Islands, British     3
Virgin Islands, US          4
Yemen                       3
Zambia                     29
Zimbabwe                    5
Length: 206, dtype: int64

In [1]:
#country.bar(Discipline)

# Class

In [1]:
from datetime import date

class myclass:
    def __init__(self, firstname, dateOfBirth):
        self.firstname= firstname
        self.dateOfBirth= dateOfBirth
        
    def setFirstname(self):
        newName= input('Enter new name:')
        self.firstname= newName
        #print(self.firstname)
        
    def getFirstname(self):
        print(self.firstname)
    
    def getAge(self,dateOfBirth):
        dateOfBirth= self.dateOfBirth
        #print(dateOfBirth)
        today = date.today()
        return today.year - dateOfBirth.year - ((today.month, today.day) < (dateOfBirth.month, dateOfBirth.day))

In [2]:
p1=myclass('nirav',date(1988,10,24) )
print(p1.firstname)

p1.setFirstname()
p1.getFirstname()
p1.getAge(date(1998,10,24))

nirav
Enter new name:gh
gh

33

In [42]:
from datetime import date
class User:
 
    def __init__(self, firstname, dateOfBirth):
        self.firstname = firstname
        self.dateOfBirth = dateOfBirth
 
    def setFirstname(self):
        self.firstname = input("Enter firstname that you want to change:")
        print("Your new firstname is: " + self.firstname)
            
    def getFirstname(self):
        print("First name is:", self.firstname)
        
    def getAge(self, dateOfBirth):
        today = date.today()
        age = today.year - dateOfBirth.year - ((today.month, today.day) < (dateOfBirth.month, dateOfBirth.day))
        print("Your age is:", age)
 

obj = User("krupali",date(1999,6,13))
 
obj.getFirstname()
obj.getAge(date(1999,6,13))
obj.setFirstname()

First name is: krupali
Your age is: 22
Enter firstname that you want to change:dsg
Your new firstname is: dsg